<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        .title {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <p class="title">Hello <%= user %>,</p>
        <p>Please click the following link to reset your password:</p>
        <a href="<%= URL %>">Reset Password</a>
    </div>
    </body>
</html>
