DB_PORT=YOUR_MYSQL_PORT
DB_NAME=YOUR_MYSQL_DATABASENAME
DB_USER=YOUR_MYSQL_USER
DB_PASS=YOUR_MYSQL_PASSWD
DB_HOST=YOUR_MYSQL_HOST
DB_PARAM=YOUR_MYSQL_DBPARAM or "charset=utf8mb4&parseTime=True&loc=Local"
APP_PORT=:YOUR_APP_PORT
ORIGIN_URL=YOUR_AUTH_SERVICE_PORT
